@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background: url(D:\ReactApplication\banking-system\src\bank_background.jpg);
  background-position:top ;
  background-size: cover;
}
.header {
  display: flex;
  height: 100px;
  padding-bottom: 10px;
}
.header .logo {
  width: 100px;
  height: 80px;
  margin-left: 20px;
  margin-top: 10px;
}
.cards {
  width: 100%;
  height: 210px;
  margin-top: 46px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.customer_logo {
  filter: invert(100%);
  width: 20%;
  height: 210px;
  margin-left: 5%;
  box-shadow: 5px 5px 5px 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.transfer_logo {
  width: 20%;
  height: 210px;
  filter: invert(100%);
  margin-left: 13%;
  cursor: pointer;
  padding-top: 5px;
  transition: 0.3s ease;
  box-shadow: 5px 5px 5px 5px;
}
.history {
  width: 23%;
  cursor: pointer;
  filter: invert(100%);
  height: 210px;
  padding-top: 5px;
  margin-left: 13%;
  transition: 0.3s ease;
  box-shadow: 5px 5px 5px 5px;
}
.customer_logo:hover {
  transform: scale(1.05);
}
.transfer_logo:hover {
  transform: scale(1.05);
}
.history:hover {
  transform: scale(1.05);
}
.customer_logo h1 {
  margin-top: 0px;
}
.transfer_logo h1 {
  margin-top: 0px;
}
.history h1 {
  margin-top: 0px;
}
table {
  border-collapse: collapse;
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}
.tda a{
  background-color: chartreuse;
  border: 2px solid brown;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.tda {
  text-align: center;
  padding: 14px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}
.card-content h1 {
  padding-top: 0px;
}
.card-content Link {
  color: brown;
}
.section h2 {
  font-family: 'Ephesis', cursive;
  font-size: 70px;
  color: white;
  margin-left: 52%;
  word-spacing: 20px;
}
.section h4{
  color: white;
    font-size: 50px;
    margin-left: 40%;
    margin-top: 137px;
}
.header h1 {
  font-family: 'Bree Serif', serif;
  margin-bottom: 10px;
  color: white;
  margin-top: 5px;
  margin-left: 15px;
  font-size: 45px;
  word-spacing: 10px;
}
.header nav {
  padding: 25px 10px;
  margin-top: 15px;
}
.header nav ul{
  display: flex;
  flex-direction: row;
  right: 10px;
  position: absolute;
}
.header nav ul li {
  list-style: none;
}
.header nav ul li a{
  text-decoration: none;
  padding: 15px;
  color: white;
  font-size: 25px;
}
.header nav ul li a:hover {
  color:black;
  background-color: turquoise;
  border-radius: 0px 16px;
}
.header nav ul li a:active {
  color:black;
  background-color: green;
  border-radius: 0px 16px;
}
.header nav ul li a .activeclass {
  color:black;
  background-color:turquoise;
  border-radius: 0px 16px;
}
form{
  z-index: 2;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-right: auto;
}
input{
  z-index: 2;
  padding:5px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  margin-left: 5px;
}
label {
  z-index: 2;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 10px;
}
.label1 {
  margin-left: 90px;
}
.transfer h2 {
  font-family: 'Ephesis', cursive;
  font-size: 60px;
  color: white;
  text-align: center;
  margin-left: 0px;
  word-spacing: 27px;
}
.transfer {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
}
.submit{
    width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    background-color: royalblue;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}
.app {
  display: flex;
  flex-direction: column;
  height: 98vh;
}
.footer {
  background-color:#4bbadbab;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  text-align: center;
}
.userdetailsinfo{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  color:#fff ;
}
.from h1 {
  font-size: 3rem;
  text-align: center;
  color: wheat;
}
.to h1 {
  font-size: 3rem;
  text-align: center;
  color: wheat;
}